In [52]:
import pandas as pd
import numpy as np

data={
    'ID':['1','2','2','4', '5'], #dublicate ID + string type
    'Name':['Amit','Riya','Riya','Kiran',None], #Missing values
    'Marks':[80,75,75,75,"absent"], #Missing Values
    'Grade':['A','B','B',None,'B'] #Missing + Categorical
}

df=pd.DataFrame(data)
print(df)
print("\n Is Null:")
print(df.isnull())
print("\n NO of missing values:")
print(df.isnull().sum())
print("\n", df.notnull())
#print("\n", df.dropna()) #drop rows with missing values.
# print("\n", df.dropna(axis=1)) #drop columns with missing values.
# print("\n", df.dropna(how='all')) #drop rows where all values are missing.
# print("\n", df.dropna(thresh=2)) #drop rows with at least 2 non-missing values.
# print("\n", df.dropna(subset=["Name"])) #Creating Copy
# df=df.dropna(subset=["Name"],inplace=True) #changing orignal data
print("\n", df)
# print("\n", df['Marks'].fillna(df['Marks'].mean()))
# print("\n", df['Marks'].fillna(0))
# print("\n", df['Marks'].fillna(df['Marks'].median()))
# print("\n", df['Marks'].fillna(df['Marks'].mode()[0]))
print("\n", df.duplicated())
print("\n", df.drop_duplicates())
print("\n", df['ID'].astype(int))
print("\n", pd.to_numeric (df['Marks'], errors='coerce'))
print(df["Marks"])

  ID   Name   Marks Grade
0  1   Amit      80     A
1  2   Riya      75     B
2  2   Riya      75     B
3  4  Kiran      75  None
4  5   None  absent     B

 Is Null:
      ID   Name  Marks  Grade
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False   True
4  False   True  False  False

 NO of missing values:
ID       0
Name     1
Marks    0
Grade    1
dtype: int64

      ID   Name  Marks  Grade
0  True   True   True   True
1  True   True   True   True
2  True   True   True   True
3  True   True   True  False
4  True  False   True   True

   ID   Name   Marks Grade
0  1   Amit      80     A
1  2   Riya      75     B
2  2   Riya      75     B
3  4  Kiran      75  None
4  5   None  absent     B

 0    False
1    False
2     True
3    False
4    False
dtype: bool

   ID   Name   Marks Grade
0  1   Amit      80     A
1  2   Riya      75     B
3  4  Kiran      75  None
4  5   None  absent     B

 0    1
1    2
2    2
3    4
4    5
Name: ID, dtype: int64

 0    80.0
1    75.0
2    75.0
3    75.0
4     NaN
Name: Marks, dtype: float64
0        80
1        75
2        75
3        75
4    absent
Name: Marks, dtype: object